#drawing{
	width: 60%;
	height: 500px;
	font-size: 25px;
	text-align: center;
}

#design1{
	width: 700px;
	height: 400px;
	transition: transform 0.2s;	
}

#design1:hover{
	transform: scale(1.2);
}

.icon{
	width: 70px;
	height: 90px;
	align-self: center;
	border-radius: 40%;
}